.content {
  .markdown-text {
    img {
      width: 80%;
    }
  }
}
.comment-content {
  .markdown-text {
    p {
      color: #fff;
      font-size: 0.9rem;
      text-indent: 2rem;
      img {
        width: 90%;
      }
    }
  }
}
